.overlay {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.205);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 648px;
    border-radius: 16px;
    box-sizing: border-box;
}

.overlay-background {
    height: 100vh;
    width: 100%;
}

.stat-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
    margin-bottom: 10px;
}

.stat-fill {
    height: 100%;
    text-align: right;
    padding-right: 5px;
    color: white;
    font-weight: bold;
    border-radius: 8px 0 0 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.overlay-types {
    text-transform: uppercase;
    font-family: "myFont";
    letter-spacing: 4px;
}

h2 {
    font-family: "myFont";
    text-transform: uppercase;
    letter-spacing: 4px;
}

.overlay-title-container {
    text-align: center;
    margin-block: 14px;
}

.card-overlay-img-container {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 28px;
}

.card-overlay-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.tab-pokemon-overlay {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.hp {
    background-color: #ff5959;
}

.attack {
    background-color: #ff9f5b;
}

.defense {
    background-color: #ffd600;
}

.speed {
    background-color: #5b8cff;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    font-family: "Poppins", sans-serif;
    display: none;
    text-align: left;
    height: 132px;
    color: black;

}

.tablinks {
    background-color: #bdbdbd;
    ;
    font-size: 16px;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
}

.tablinks:hover {
    background-color: #b1b1b1;
}

.tablinks.active {
    background-color: #3d65e9;
}

.flip-img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.overlay-arrows-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.overlay-arrows-button img {
    cursor: pointer;
}

.overlay-arrows-button img:hover {
    background-color: rgb(207, 207, 207);
    border-radius: 50%;
}

body.no-scroll {
    overflow: hidden;
}

.margin-bottom {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 28px;
}