::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background: linear-gradient(to bottom,
            #3466af 0%,
            #4472c2 70%,
            #5486dd 95%,
            #669dfc 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-rendering: pixelated;
}

header {
    height: 120px;
    background-color: #192536;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;
    z-index: 2;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 30px;
    flex-grow: 1;
    padding: 12px 14px;
    gap: 12PX;
}

footer {
    background-color: #192536;
    height: 90px;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;}


a {
    text-decoration: none;
}